body {
  background-color: #ffffdf;
}

#canvasContainer {
  position: relative;
}

canvas {
  position: relative;
}

.reset-all-button {
  position: absolute;
  left: 60%;
  top: 92%;
}

.tab-bar {
  position: absolute;
  height: 50px;
  width: 100%;
  background: #000000;
  bottom: 0;
}

.tab-name {
  padding-top: 12px;
  padding-left: 12px;
  font-size: 2.5em;
  color: #ffffff;
  display: block;
}

.right-tab-controls {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: block;
}

.phet-logo {
  position: absolute;
  bottom: 5px;
  color: #ffff00;
  font-size: 2.5em;
  right: 55px;
}